<img src="https://github.com/retkowsky/images/blob/master/logo%20azure%20cog%20svcs.jpg?raw=true">

Documentation : https://azure.microsoft.com/en-us/services/cognitive-services/

# Traduction

> Provisionner le service TRANSLATOR
https://docs.microsoft.com/en-us/azure/cognitive-services/translator/reference/v3-0-reference

In [1]:
import sys
sys.version

'3.6.9 |Anaconda, Inc.| (default, Jul 30 2019, 19:07:31) \n[GCC 7.3.0]'

In [2]:
import pandas as pd

In [4]:
import os, requests, uuid, json
subscription_key = "votreclef" #Clef du service TRANSLATOR
region = "westeurope" #RÃ©gion du service TRANSLATOR
endpoint = "https://api.cognitive.microsofttranslator.com/" #Endpoint du service TRANSLATOR

headers = {
    'Ocp-Apim-Subscription-Key': subscription_key,
    'Ocp-Apim-Subscription-Region': region,
    'Content-type': 'application/json',
    'X-ClientTraceId': str(uuid.uuid4())
}

In [5]:
path = '/translate?api-version=3.0'
params = '&to=fr'
constructed_url = endpoint + path + params

In [6]:
def translate(en):
    body = [{'text': en}]
    request = requests.post(constructed_url, headers=headers, json=body)
    response = request.json()
    return (response[0]['translations'][0]['text'])

In [8]:
df = pd.DataFrame({'English': ['Hello', 'Today', 'Goodbye']})
df

   English
0    Hello
1    Today
2  Goodbye

## Traduction

In [10]:
df['French'] = df['English'].apply(translate)
df

   English       French
0    Hello      Bonjour
1    Today  Aujourd'hui
2  Goodbye    Au revoir

## Autre exemple

In [11]:
path = '/translate?api-version=3.0'
params = '&to=pl'
constructed_url = endpoint + path + params

In [12]:
def translate(en):
    body = [{'text': en}]
    request = requests.post(constructed_url, headers=headers, json=body)
    response = request.json()
    return (response[0]['translations'][0]['text'])

In [14]:
df = pd.DataFrame({'English': ['Hello', 'Today', 'Goodbye']})
df

   English
0    Hello
1    Today
2  Goodbye

In [15]:
df['Polish'] = df['English'].apply(translate)
df

   English       Polish
0    Hello        Witam
1    Today      Dzisiaj
2  Goodbye  Do widzenia

## Autre exemple

In [16]:
path = '/translate?api-version=3.0'
params = '&to=fr'
constructed_url = endpoint + path + params

In [17]:
df = pd.DataFrame({'Polish': ['Witam', 'Dzisiaj', 'Do widzenia']})
df

        Polish
0        Witam
1      Dzisiaj
2  Do widzenia

In [18]:
df['French'] = df['Polish'].apply(translate)
df

        Polish       French
0        Witam      Bonjour
1      Dzisiaj  Aujourd'hui
2  Do widzenia    Au revoir